<main>
    <section class="landing">
        <h1>Cuteness at your Fingertips!</h1>
        <h2>Select from the options below to find the perfect dog/cat picture for you!</h2>
    </section>
    <form action="javascript:void(0);">
        <section class="options">
            <div>
                <h5>Dog or Cat?</h5>
                <select>
                    <option value="dog" (click)="setOptions(true); changeBreeds(true)">Dog</option>
                    <option value="cat" (click)="setOptions(false); changeBreeds(false)">Cat</option>
                </select>
            </div>
            <div>
                <h5>Breed?</h5>
                <select>
                    <option value="" (click)="setOptions('')">Any</option>
                    @for (breed of breeds; track breed) {
                        <option value={{this.breed.id}} (click)="setOptions(this.breed.id)">{{this.breed.name}}</option>
                    }
                </select>
            </div>
        </section>
        <button class="search" (click)="this.fetchDogs(true, this.options)">Search</button>
    </form>
    <section class="dog-section">
        <div class="dog-container">
            @for (pet of pets; track pet) {
                <div class="dog">
                    <img src={{this.pet.url}} width="400px" height="266px" alt="Bark!" (click)="this.selection = this.pet.url">
                    <button class="like" (click)="this.likeDog(this.pet.id)">{{ this.pet.liked ? "&#128150;" : "&#128420;" }}</button>
                </div>
            }
        </div>
    <button (click)="this.fetchDogs(false, this.options)">Load</button>
    </section>
    <dog-view url={{this.selection}}></dog-view>
  </main>