.view {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    z-index: 2;
}

.grey-background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0,0.7);
    z-index: 1;
}

img {
    display: block;
    object-fit: cover;
    max-width: 732px;
    max-height: 732px;
}

button {
    display: block;
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    color: black;
    font-size: xx-large;
    top: 0;
    right: 0;
    margin: 10px 10px;
    font-weight: bold;
    width: 75px;
    height: 75px;
    cursor: pointer;
}